.body-container {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 75px;
}
.hero {
    background-color: #1F2937;
    
    display: flex;
    flex:1;
    justify-content:center;
    align-items: center;
    gap: 48px;
    min-height: 250px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
}
.hero-left {
    display: flex;
    flex:1;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    max-width: 450px;
}
.hero-right {
    display: flex;
    background-color: #314157;
    align-self: stretch;
    flex:1;
    background-size:cover;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    max-width: 450px;
    color:#E5E7EB;
}

button {
    border-color: white;
    height:30px;
    width: 90px;
    border-radius: 10px;
    font-size: 16px;
    font-weight:bold;
    background-color:#3882F6;
    color:white;
}

.btn1 {
    border:none;
}

.header-logo-text {
    font-size: 24px;
    color:#F9FAF8;
}
.header-links {
    display: flex;
    margin:0px;
    padding:0px;
    gap: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight:900;
    color:#F9FAF8;
}
.hero-secondary-text, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.top {

}
.container {
    display: flex;
}
.middle {

}
.bottom {

}
.footer {
    background-color: #1F2937;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}